html{
    background-image: url(./background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


p{
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    color: rgb(9, 154, 154);
}


#btn{
    padding: 12px 5px;
    margin-left: 44%;
    background-color: rgb(233, 94, 129);
    
}

