html{
    background-image: url(./background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


p{
    padding-top: 150px;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    color: rgb(9, 154, 154);
}


#btn{
    padding: 12px 5px;
    margin-left: 44%;
    background-color: rgb(241, 108, 141);
    border-radius: 8px;
    border: 3px solid white;
    
}

